body {
    background-image: url(/pictures/waalpaper.jpg);
}

header .head-hamburger {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: whitesmoke;
}

header .head-hamburger .head {
    font-size: 25px;
    margin: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
}

header .head-hamburger .hamburger i {
    color: whitesmoke;
    font-size: 30px;
    margin: 10px 20px 1px 10px;
}

ul {
    display: none;
}

.animation {
    height: 300px;
}

.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}


/* .cards:hover #front {
    transform: rotateY(-180deg);
}

.cards:hover #back {
    transform: rotateY(0)
} */

.container .cards .card1,
.card2 {
    transition-duration: 1s;
    height: 300px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card1 {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 240px;
    width: 250px;
}

.card2 {
    background-color: aqua;
    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.chance-label {
    position: relative;
    z-index: 1;
}


/* first animal cow */

#chance1 {
    display: none;
}

.look {
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    color: darkblue;
    padding: 8px;
    border-radius: 5px;
}

#chance1:checked~#front {
    transform: rotateY(-180deg);
}

#chance1:checked~#back {
    transform: rotateY(0);
}


/* second animal horse */

#chance2 {
    display: none;
}

#chance2:checked~#front2 {
    transform: rotateY(-180deg);
}

#chance2:checked~#back2 {
    transform: rotateY(0);
}


/* third animal pig */

#chance3 {
    display: none;
}

#chance3:checked~#front3 {
    transform: rotateY(-180deg);
}

#chance3:checked~#back3 {
    transform: rotateY(0);
}


/* 4nth animal chicken */

#chance4 {
    display: none;
}

#chance4:checked~#front4 {
    transform: rotateY(-180deg);
}

#chance4:checked~#back4 {
    transform: rotateY(0);
}


/* 5nt animal sheep */

#chance5 {
    display: none;
}

#chance5:checked~#front5 {
    transform: rotateY(-180deg);
}

#chance5:checked~#back5 {
    transform: rotateY(0);
}


/*  6nt animal mouse */

#chance6 {
    display: none;
}

#chance6:checked~#front6 {
    transform: rotateY(-180deg);
}

#chance6:checked~#back6 {
    transform: rotateY(0);
}