body {
    background-image: url(waalpaper.jpg);
}

.header-bg {
    height: 150px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-kind-of-school-equipment-upgrade-stationery-new-semester-new-equipment-image_12581.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head-hamburger {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
}

header .head-hamburger .head {
    font-size: 25px;
    margin: 10px;
    font-weight: bolder;
    color: whitesmoke;
    letter-spacing: 2px;
}

header .head-hamburger .hamburger i {
    cursor: pointer;
    color: whitesmoke;
    font-size: 30px;
    margin: 10px 20px 1px 10px;
}

#nav {
    display: none;
}

#nav:checked~ul {
    display: block;
}

#nav-ul {
    display: none;
    right: 5%;
    background-color: thistle;
    position: absolute;
    list-style: none;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    display: block;
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
}

a:hover {
    background-color: darkblue;
    color: whitesmoke;
}


/* #nav-ul li {
    font-size: 22px;
    padding: 10px 10px;
} */


/* #nav-ul li:hover {
    background-color: darkblue;
    color: red;
} */

.main {
    margin: 30px 10px 10px 10px;
    background-color: pink;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}

footer .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #ccc;
    width: 100%;
}

footer .footer a i {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}